@media (max-width: 280px) {
    .header-menu {
        justify-content: center;     
    } 
    
    .partners ul {
        grid-template-columns: 1fr;
    }

    .partners ul li:nth-child(even) {
        border-left: none;    
    }

    .partners ul li:nth-child(2) {
        border-top: 2px solid var(--co-c4);
    }

    .partners img {
        width: 70%;
    }
}

@media(min-width:500px){    
    header {
        align-items: end;        
        flex-wrap: wrap;
        justify-content: space-between; 
        flex-direction: row;
    }
    

    header nav ul li a {
        font-size: clamp(14px, 5vw, 18px);
    }    
}

@media (max-width: 500px) {
    .header-container {
        flex-direction: column; 
        justify-content: center;
    }

    .header-menu a {
        background-color: var(--co-c10);
        padding: .5rem .75rem;
        border-radius: .25rem;
    }

    .header-menu a:after {
        display: none;
    }
}

@media (min-width:600px) { 
    .tech-type{
        grid-template-columns: 1fr 1fr;
    } 
    
    .partners {
        justify-content: unset;      
    }
   
    .insurance {
        grid-template-columns: 1fr 1fr;
    }

    .insurance h2 {
        grid-column: 1/-1;    
    }

    .testimonials {
        grid-template-columns: 1fr 1fr;
    }

    .testimonials__content {
        height: 100%;
        font-size: 2rem;
    }

    blockquote {
        font-size: 2rem;
    }    
}


@media (max-width: 600px) {
    .hero__content a {
        padding: 0.75rem  1rem;
        font-size: 1rem;
    }   
}


@media(min-width: 700px) {
    header nav ul li {
        background-color: unset;
    }

    header nav ul li a{
        position: relative;
    }
    
    header nav ul li a::after {
        content:"";
        display: block;
        height: 2px;
        width: 0px;
        background-color: var(--co-w);
        margin-top: 4px;
        transition: 0.3s;
        position:absolute;
    }
    header nav ul li a:hover:after {
        width: 100%;
    }
}



@media (min-width: 768px) {
    .partners ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .partners ul li:nth-child(3),
    .partners ul li:nth-child(4) {
        border-top: none;
    }

    .partners ul li:nth-child(3),
    .partners ul li:nth-child(7) {    
        border-left: 2px solid var(--co-c4);    
    }

}

@media(min-width: 800px) {  
    .hero {
        width: 100%;
    }

    .hero__wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 0rem 3rem;
    }

    .hero__content {
        grid-column: 1;
        padding-left: 80px; 
        padding-bottom: 150px;       
    } 

    .hero__content h1{
        grid-column: 1/-1;
    }

    .img-container {       
        max-width: 580px;
        grid-column: 2;
        grid-row: 1;
    }

    .img-container img {
        height: 100%;
        object-fit: cover;
    }

    .tech {
        box-shadow: inset 0 7.5rem var(--co-w),  inset 0 -7.5rem var(--co-w);        
    }

    .tech-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-content: center;
        padding-bottom: 3.125rem;
    }

    .tech_illustration {
        max-width: 600px;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
    }

    .tech_illustration img {
        display: block;
        width: 100%;        
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .tech__content {
        max-width: 37.5rem;
        padding-top: 6rem;
        padding-left: 5rem;
        padding-bottom: 6rem;
        grid-column: 1;
        grid-row: 1;
        align-self: center;
    }

    .tech__content h2 {         
            font-size: 54px;        
    }

    .partners {
        max-width: 100%;
        justify-content: center;
    }
    .testimonials__img {
        max-height: 580px;
    }

    .testimonials__content {
        justify-items: end;
         
    }

    .testimonials blockquote {
        text-align: right;
        max-width: 36ch;
        margin: unset;
        margin-right: 3rem;  
    }

    .testimonials__content span {
        margin-right: 5rem;
    }

    .insurance-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    
    .insurance h2 {
        grid-column: 1/-1;
    }

    .footer__content {
        grid-template-columns: 3fr 5fr 4fr;
        max-width: 1440px;
    }

    .footer__logo {
        display: block;
    }

    .footer__social {
        grid-column: 2;
    }

    .footer__info {
        grid-column: 3;
        grid-row: 1;
    }

    footer > p {
        grid-column: 1 /-1;
        text-align: left;
    }
}