@media (min-width: 800px){

    .card {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0rem 2rem;
        margin:1rem auto;
    }

    .card__img {
        margin-left: 1rem;
    }

    .card__img img {
        height: 100%;
        object-fit: cover;
    }

    .card__content h2 {
        margin-bottom: 1.25rem;
    }   

    .card__content ul {
        display: flex;
        flex-direction: column;   
        grid-row: 3/5;    
    }

    #bikes  .btn {
        grid-column: 2;
        grid-row: 4;
        place-self: end;
        margin: 0 1rem;    
    }

}