@media (min-width: 600px) {
    .store >.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }
}


@media (min-width: 800px) {
    .contact .container {
        grid-template-columns: 5fr 7fr;
        gap:0;
    }
    .contact-form__info {
        border-radius: .25rem 0 0 .25rem ;
    }

    .contact-form__form {
        border-radius: 0 .25rem .25rem 0;
    }

    .store >.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}