@media (min-width: 800px){
    .bike-hero {
        padding: 3.75rem 1.25rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .bike-hero__pictures {
        gap: 1rem;
    }

    .bike-hero__description {
        grid-column: 2;
        grid-row: 2;
    }

    .bike-hero__buy {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 920px){

    .bike-hero__pictures {
        grid-template-columns: 1fr 1fr;
    }

    .bike-hero__pictures img:first-child {
        grid-column: 1/-1;
    }



}