@media (min-width: 800px) {

    .desktop-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .title-container {
        grid-column: 1/-1;
        margin-top: 60px;
    }

    .bike-img-container {
        grid-column: 1;
    }

    .description {
        grid-column: 2/3;
        grid-row: 2/3;
    }




  
}