@media (min-width: 500px) {
    .info-itens {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bike-img-container {
        grid-template-columns: 1fr 1fr;
    }

    .bike-img-container img:nth-child(1){
        grid-column: 1 / -1;
    }

}

@media (min-width: 800px) {

    .insurance-content {
        padding: 2rem 1.5rem;
        margin-bottom: 4rem;
        grid-template-columns: 1fr 1fr;
        box-shadow: inset 0 7.5rem var(--co-w), inset 0 -7.5rem var(--co-w);
        align-items: center;
        gap: 4rem;
    }

    .insurance-content__img {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
    }

    .insurance-content__description {
        margin: 2rem 0;
    }

    .insurance-content__description h2 {
        font-size: 3rem;
        max-width: 16ch;
    }

}