.hero {
    padding: 1.125rem 1.6875rem;
    background-color: var(--co-c12);
    color: var(--co-w);
    /*box-shadow: inset 0 -7.5rem var(--co-w); */ /*-120px*/
}

.hero h1 {
    color: var(--co-w);
    padding-bottom: 10px;    
}

/*btn -->  components.css*/