footer {
    width: 100%;
    padding-top: 55px;
    padding-left: 40px;
    background-color: var(--co-c14);
    
}

footer h4 {
    text-transform: uppercase;
    margin-bottom: 2rem    
}

.footer__content{
    display: grid;
    grid-template-columns: 1fr;
}

.footer__logo {
    display: none;
}

.footer__contact {
    margin-bottom: 42px;;
}

.footer__contact p {
    margin-bottom: 1rem;
}

.footer__contact p:nth-child(3) {
    margin-bottom: 2rem;
}

.footer__social {
    display: flex;
    gap: 1.5rem;/*24px*/
    margin-bottom: 3.125rem; /*50px*/
}

.footer__info {
    margin-bottom: 65px;
}

.footer__info ul li {
    margin-bottom: 1.25rem; /*20px*/
}

.footer__info ul li a {
    color: var(--co-c6);
}

