@charset "UTF-8";


/*-------------------------------------------- 
                Global Styles 
---------------------------------------------*/
:root {
    --co-c14: hsl(0, 0%, 0%);
    --co-c13: hsl(0, 3%, 13%);
    --co-c12: hsl(0, 0%, 0%);  /*000000*/
    --co-c11: hsl(0, 0%, 7%);  /*111111*/
    --co-c10: hsl(0, 0%, 18%); /*2e2e2e*/
    --co-c9: hsl(0, 0%, 25%);  /*#404040*/
    --co-c8: hsl(0, 0%, 35%);  /*#595959*/
    --co-c7: hsl(0, 0%, 44%);  /*#717171*/
    --co-c6: hsl(0, 0%, 61%);  /*#9C9C9C*/
    --co-c5: hsl(0, 0%, 70%);  /*#B2B2B2*/
    --co-c4: hsl(0, 0%, 80%);  /*#CCCCCC*/
    --co-c3: hsl(0, 0%, 87%);  /*#DEDEDE*/
    --co-c2: hsl(0, 0%, 93%);   /*#EDEDED*/
    --co-c1: hsl(0, 0%, 97%);   /*#F7F7F7*/

    --co-w: hsl(0, 100%, 100%); /*FFFFFF*/

    --co-p5: hsl(40, 100%, 10%); /*332200*/
    --co-p4: hsl(40, 100%, 20%); /*664400*/
    --co-p3: hsl(40, 100%, 32%); /*A66F00*/
    --co-p2: hsl(42, 90%, 37%); /*E4A30B*/
    --co-p1: hsl(44, 100%, 50%); /*FFBB00*/
    --co-p0: hsl(40, 91%, 50%); /*#f2a50c)*/

    /*Fonts*/
    --ff-display: "Poppins", serif;
    --ff-regular: "Roboto", serif;
    --ff-blockquote: "Merriweather", serif;
    --fw-base: 400;
    --fw-regular-medium: 500;
    --fw-display-semi-bold: 600;
    --fw-black-blockquote: 900;
    
    --fs-btn-p1: 1rem; /*16px*/ 
    --fs-btn-p2: 1.6rem; /*24px*/
    --fs-link: 1.5rem; /*24px*/    
    --fs-nav: 0.875rem; /*14px*/
    --fs-p: 1.125rem; /*18px*/
    --fs-price: 1.6rem; /*24px*/
    --fs-root: 1rem; /*16px*/
    --fs-small: 0.75rem; /*12px*/
    --fs-title-p1: 3rem; /*32px*/
    --fs-title-p2: 2rem; /*32px*/
    --fs-title-p3: 1.5rem; /*24px*/
    --fs-title-p4: 1.125rem; /*18px*/
    --round-corners: 0.25rem; /*4px*/
}

*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

html,
body,
h1,
h2,
h3,
ul,
p,
li,
a, 
blockquote {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--ff-display);
    font-weight: var(--fw-display-semi-bold);
    font-size: var(--fs-title-p1);
    line-height: 1.125;
    font-style: normal;
}

h2 {
    font-family: var(--ff-display);
    font-weight: var(--fw-display-semi-bold);
    font-size: var(--fs-title-p2);
    font-style: normal;
}

h3 {
    font-family: var(--ff-display);
    font-weight: var(--fw-display-semi-bold);
    font-size: var(--fs-title-p3);
    font-style: normal;
}

h4 {
    font-family: var(--ff-display);
    font-weight: var(--fw-display-semi-bold);
    font-style: normal;
    font-size: var(--fs-title-p4);
    color: var(--co-w);
}

p {
    font-family: var(--ff-regular);
    font-weight: var(--fw-base);
    font-size: var(--fs-p);
    line-height: 1.5;
    color: var(--co-c6);
}

blockquote {
    font-family: var(--ff-blockquote);
    font-weight: var(--fw-black-blockquote);
    font-style: italic;
    color: var(--co-p5);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    font-family: var(--ff-regular);
    font-weight: var(--fw-base);
    font-size: var(--fs-p);
    font-style: normal;
    color: var(--co-c12);
}


.period {
    color: var(--co-p1);
}

.section-title {
    color: black;
}

.subtitle {
    text-transform: uppercase;
}

.wrapper {
    padding: 1rem 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.small-title {
    color: var(--co-w);
    font-size: 0.875rem;
}

.insurance {
    display: grid;
    grid-template-columns: 1fr;
}

.insurance__content {
    grid-row: 1;
}
.insurance__content a {
    margin: 1rem 0;
}

.container {
    max-width: 75rem;
}

.bkg-dark {
    background-color: var(--co-c14);
}

.container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    background-color: var(--co-c11);
    padding: 2.5rem 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
}

.title-black {
    grid-column: 1/-1;
    color: var(--co-w);
    font-size: clamp(2rem, 3rem, 3.5rem);
}