#bikes .title-container {
    width: 100%;
    padding: 3.75rem 2rem 2rem 2rem;
    background-color: var(--co-c11);
}

#bikes .title-container h1 {
    color: var(--co-w);
}

.card {
    margin: 2.5rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr;
}

.card__content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
}

.card__content h2 {
    grid-column: 1 /-1;
    margin-bottom: 1.25rem;
}

.card__content h2::before {
    content:"";
    display: block;
    width: 0.75rem;
    height: 0.5rem;
    background-color: var(--co-p1);
}

.card__content p:first-of-type{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.card__content ul {
    grid-column: 1/-1;
    display: grid;
    gap: 1rem;
}

.card__content ul li{
    display: flex;
}

.card__content ul li:nth-child(4),
.card__content ul li:nth-child(5) {
    grid-column: 2;
}

.card__content ul li img {
    width: 24px;
    height: 24px;
}

.card__img {
    display: grid;
}

.card__img img {
    grid-area: 1/1;
}

.price-tag {
    grid-area: 1/1;
    place-self: start end;
    margin-top: 1.5rem;
    color: var(--co-w);
    background-color: var(--co-c14);
    display: inline-block;
    padding: 0.1rem 0.8rem;
    border-radius: 0.3125rem 0 0 0.3125rem;
}


.card:nth-child(odd){
    background-color: var(--co-c11);
    color: var(--co-w);
}


