#stark {
    background-color: var(--co-c11);
}

.bike-hero {
    max-width: 75rem;
    margin: 0 auto;
    background-color: var(--co-c11);
    padding: 2.5rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;  
}

.bike-hero__title h1 {
    grid-column: 1/-1;
    color: var(--co-w);
    font-size: clamp(2rem, 3rem, 3.5rem);
}

.bike-hero__pictures {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.bike-hero__pictures img {
    cursor: pointer;
    flex: 1;
    min-width: 200px;
}

.bike-hero__pictures img:first-child {
    cursor: initial;
    min-width: 100%;
} 

.bike-hero__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    grid-row: 2;
}

.bike-hero__buy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bike-hero__buy a:first-of-type {
    flex: 1;    
}

.buy__shipping {
    display: flex;
    flex-direction: column;    
}

.buy__shipping p {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 0.875rem;
}

.bike-hero__info-wrapper {
    background-color: var(--co-c14);
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

.bike-hero__info-item > img {
    width: 1.5rem; 
}

.bike-hero__info > p,
.bike-hero__info-item p:first-of-type {
    color: var(--co-w);
}


.bike-hero__info-item p:last-of-type {
    font-size: 0.875rem;
}


.bike-hero__tech-table-wrapper {
    background-color: var(--co-c14);
    color: var(--co-c6);
    padding: 2rem;
}

.bike-hero__tech-table-wrapper table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;  
}

th, td {
    padding: 0.5rem 0.75rem;
    text-align: left;
    border-bottom: 0.5px solid rgb(17, 17, 17);
}

tr {
    display: flex;
    justify-content: space-between;
}

th {
    color: #cccccc;
    flex: 1;
    font-weight: normal;    
}

td {
    flex: 1;
    text-align: right;  
}

.bike-hero__tech-table-wrapper > p {
    color: var(--co-co6);
}

/*Section: other-bikes*/
.other-bikes {
    background-color: var(--co-w);
    padding: 3.75rem 0.875rem;
}

.other-bikes__container {
    max-width: 75rem;
    margin: 0 auto;
}

.other-bikes h2 {
    margin-bottom: 2.5rem;
    font-size: clamp(2rem, 3rem, 3.5rem);
}

.other-bikes ul {
    display: flex;
    gap: 2rem;
    overflow-y: hidden;
    overflow-x: auto;
}

.other-bikes__list li {
    flex: 1;
    min-width: 17.5rem; /*280px*/
    height: auto;
}

.other-bikes__list li img {
    object-fit: cover;
    border-radius: var(--round-corners);
}

.other-bikes__list li p:first-of-type {   
    font-size: var( --fs-title-p3);
    color: var(--co-c14);
    font-family: var(--ff-display);
    font-weight:var(--fw-display-semi-bold);    
}

.other-bikes__list li p:first-of-type::before {
    content: "";
    width: 0.75rem; /*12px*/
    height: 0.5rem; /*8px*/
    display: inline-block;
    background-color: var(--co-p1);
    margin-right: 0.5rem; /*8px*/
    transition: width 0.2s;
}

.other-bikes__list li a img {
    width: 100%;
}

/* Insurance */
.insurance-bike {
    padding: 2rem;   
}

.insurance-bike__wrapper {
    margin:0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
}

.insurance-bike h2 {
    color: var(--co-w);
    line-height: 1.2;
    font-size: clamp(2rem, 3rem, 3.5rem);
} 

.insurance-bike__img-container{
    grid-row: 2;   
}

.insurance-bike__img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;    
}

.insurance-bike__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}





